@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-chanel-white text-chanel-black;
  }

  /* Scrollbar minimaliste */
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-chanel-gray-light;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
